<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="wrapper">
        <div class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion">
            <div class="navbar-header">
                <img src="~/Content/img/KsiegarniaLogo.png" alt="Logo" />
                <div class="">
                    <li>@Html.ActionLink("Ebook - Księgarnia", "Index", "Home", new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Sklep", "About", "Home", new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Koszyk", "Contact", "Home", new { @class = "nav-link" })</li>
                </div>
            </div>
        </div>
        <div id="content-wrapper">
            <div id="content">
                <div class="navbar navbar-expand navbar-dark bg-dark topbar mb-4 static-top">
                    <h2>@ViewBag.Title.</h2>
                </div>
                    @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - EBOOK Księgarnia internetowa</p>
                </footer>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/vendor")
    @RenderSection("scripts", required: false)
</body>
</html>
